<%= form_for login_form, url: login_path, as: :login do |f| %>
<% if login_form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(login_form.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% login_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :email, "What's your email?" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= f.submit "Create your account" %>
<% end %>
